html, body {
    margin: 0;
    padding: 0;
    font-family: Inter, sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 1400px;
}

header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 140px;
    border-radius: 12px;
    gap: 20px;
}

header > img {
    width: 80px;
}

header > h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

article.journal-entry {
    display: flex;
    align-items: flex-start;
    margin-bottom: 100px;
    gap: 40px;
}

article.journal-entry .marker {
    width: 15px;
    margin-top: 8px;
}

article.journal-entry .main-image-container {
    width: 450px;
    height: 600px;
    overflow: hidden;
    border-radius: 15px;
    flex-shrink: 0;
}

article.journal-entry .main-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info-container span.country {
    text-transform: uppercase;
    font-size: 1.4rem;
    margin-right: 20px;
    letter-spacing: 1.5px;
}

.info-container a {
    color: #2B283A;
    font-size: 1.3rem;
    text-decoration: underline;
}

.info-container a:visited {
    color: #918E9B;
}

.info-container h2.entry-title {
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 2.4rem;
}

.info-container p.trip-dates {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.info-container p.entry-text {
    line-height: 1.8;
    font-size: 1.2rem;
    display: -webkit-box;
    overflow: hidden;
}

@media (max-width: 1200px) {
    .container {
        margin: 60px;
    }

    header {
        height: 100px;
    }

    header > img {
        width: 60px;
    }

    header > h1 {
        font-size: 2rem;
    }

    article.journal-entry {
        gap: 25px;
        margin-bottom: 70px;
    }

    article.journal-entry .main-image-container {
        width: 320px;
        height: 420px;
    }

    .info-container h2.entry-title {
        font-size: 1.8rem;
    }

    .info-container p.entry-text {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .container {
        margin: 30px;
    }

    header {
        height: 70px;
        gap: 10px;
    }

    header > img {
        width: 35px;
    }

    header > h1 {
        font-size: 1.3rem;
    }

    article.journal-entry {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
        margin-bottom: 50px;
    }

    article.journal-entry .main-image-container {
        width: 100%;
        height: auto;
    }

    .info-container h2.entry-title {
        font-size: 1.4rem;
    }

    .info-container p.entry-text {
        font-size: 0.95rem;
    }
}
